In [93]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    '''
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    '''
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Badminton Court', 165)
('07', 'Massage Room 1', 166)
('07', 'Massage Room 2', 8)
('07', 'Pool Table', 110)
('07', 'Snooker Table', 140)
('07', 'Squash Court', 50)
('07', 'Table Tennis', 98)
('07', 'Tennis Court 1', 201)
('07', 'Tennis Court 2', 123)
('08', 'Badminton Court', 414)
('08', 'Massage Room 1', 316)
('08', 'Massage Room 2', 18)
('08', 'Pool Table', 303)
('08', 'Snooker Table', 316)
('08', 'Squash Court', 184)
('08', 'Table Tennis', 296)
('08', 'Tennis Court 1', 339)
('08', 'Tennis Court 2', 345)
('09', 'Badminton Court', 507)
('09', 'Massage Room 1', 402)
('09', 'Massage Room 2', 28)
('09', 'Pool Table', 443)
('09', 'Snooker Table', 404)
('09', 'Squash Court', 184)
('09', 'Table Tennis', 400)
('09', 'Tennis Court 1', 417)
('09', 'Tennis Court 2', 414)

## QUESTIONS:

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [51]:
query1 = '''     

SELECT
  f.name as Facility,
  SUM((membercost * slots) + (guestcost * slots)) AS 'Total revenue'
FROM
    Facilities as f
inner JOIN
    Bookings as b
		using (facid)
Group By
	Facility
ORDER BY
    'Total revenue', Facility DESC;
'''

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [63]:
query1 = '''     

SELECT DISTINCT
  m.surname as 'Last name',
  m.firstname as 'First name', 
  m2.surname as Recommended,
  m2.firstname
FROM
    Facilities as f
LEFT JOIN
    Bookings as b
    using (facid)

LEFT JOIN
    Members as m
    using (memid)

LEFT JOIN Members m2
	on
		m.recommendedby = m2.memid
WHERE 
        m.recommendedby NOT LIKE ("")
    AND
        m.surname NOT LIKE('%GUEST')
ORDER BY
    Recommended;
'''

/* Q12: Find the facilities with their usage by member, but not guests */

In [74]:
query1 = ''' 
SELECT 
    name,
    surname || ', ' || firstname as member,
    count(slots) AS 'Usage by member/slots'
FROM
    Facilities f
LEFT JOIN
    Bookings as b
    USING
        (facid)
LEFT JOIN
    Members as m
    USING
        (memid)
WHERE
        member NOT LIKE ("%GUEST%")
    AND 
        memid <> 0
GROUP BY
    member
ORDER BY
    'Usage by member/slots' DESC;

'''

/* Q13: Find the facilities usage by month, but not guests */

In [92]:
query1 = '''     

SELECT 
SUBSTR(starttime,6,2) AS month,
    name,
    SUM(slots) AS totalslots
FROM
    Facilities
LEFT JOIN
    Bookings as b
    using
        (facid)
LEFT JOIN
    Members as m
    using
        (memid)
WHERE
        memid <> 0
GROUP BY
    name, month
ORDER BY
    month;
    
'''